.toggle-container { display: flex; background: #F0F0F0; border-radius: 12px; padding: 5px; margin-bottom: 30px; width: fit-content; margin-left: auto; margin-right: auto; }

.toggle-btn {
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: transparent;
  color: #999;
  font-weight: 600;
}

.toggle-btn.active {
  background: var(--white);
  color: var(--primary-color);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
